body {
    margin: 0;
    width: 100%;
    overflow: auto;
}

.top-cup {
	position: fixed;
    top: 0;
	height: 55;
    background-color: rgba(177, 214, 246, 0.65);
    width: 100%;
}

.twf {
    margin: 0;
    background: #a9cfcc linear-gradient(179.5deg, #97354e 2%, #dae4e9 4%, #4F6B76 94%);
    padding: 15px 8px 15px 28px;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    font-style: italic;
    color: #222231;
}

.main {
    position: absolute;
	background-color: #f2f5f6;
    width: 100%;
    overflow-x: hidden;
	overflow-y: auto;
	top:55px;
}

.menu {
    position: fixed;
	top:55px;
	background-color: #f2f5f6;
    float: left;
    width: 249px;
    height: 100%;
    overflow: auto;
    border-right: 2px solid rgb(117, 131, 151);

    padding: 0;
    font-family: Verdana;
}

.menu li > a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.menuLevel1 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.itemLevel1{
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
    left: 20px;
    text-indent: 1em;
    border-bottom: 4px double rgb(117, 131, 151);
    cursor: pointer;
}

.menuLevel2 {
    list-style: none;
    margin: 0;
    padding-inline-start: 0px;
}

.itemLevel2{
    margin: 0;
    line-height: 30px;
    text-transform: none;
    text-indent: 1.5em;
    border-top: 1px solid rgb(117, 131, 151);
    font-style: italic;
    background-color: #e5e8e9;
    cursor: pointer;
}

.emptyItem{
    line-height: 0px;
    border-bottom: 4px double rgb(117, 131, 151);
}

.itemLevel1:hover{
    background-color: #dae4e9;
}

.itemLevel2:hover{
    background-color: #dae4e9;
}

.content {
    background-color: #f2f5f6;
    margin: 0 0 0 250px;
    overflow: auto;
}

.information {
    background-color: #f2f5f6;
    margin: 0 250px 0 250px;
	overflow: auto;
}

.information_data {
    margin: 20px;
    font-family: Verdana;
}

.auxilaryText {
    margin: 10px 10px 10px 10px;
    /*text-align: center;*/
    font-size: 16px;
    font-family: Verdana;
    font-style: italic;
    color: #222231;
    cursor: default;
}

.taskTile {
    margin: 20px 10px 10px 40px;
    font-size: 28px;
    font-family: Verdana;
    color: #222231;
}

.latex {
    display: block;
    margin: 30px 10px 40px 40px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.formules {
    margin: 0;
}

.editor {
    background-color: #dae4e9;
    border: 2px solid rgb(117, 131, 151);
    border-radius: 5px;
    margin: 20px 40px 10px 40px;
    display: none;
}

#editorContainer {
    height: 400px;
    z-index: 9;
}

.helper {
    color: #222231;
    float: right;
    margin: 0px 0px 0px 10px;
    border-top: 2px solid rgb(218, 228, 233);
    border-right: 2px solid rgb(218, 228, 233);
    border-bottom: 2px solid rgb(117, 131, 151);
    border-left: 2px solid rgb(117, 131, 151);
    border-bottom-left-radius: 5px;
    background-color: #dae4e9;
    outline: none;
    cursor: pointer;
}

.helper:hover {
    border-top: 4px solid rgb(117, 131, 151);
    border-right: 4px solid rgb(117, 131, 151);
    border-bottom: 4px solid rgb(117, 131, 151);
    border-left: 4px solid rgb(117, 131, 151);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #dae4e9;
    z-index: 10001;
}

.checkResult {
    background-color: #d4e5ec;
    background-repeat: no-repeat;
    background-position: center center;
    color: #222231;
    font-size: 32px;
    font-family: Verdana;
    font-style: italic;

    line-height: 50px;
    text-align: center;

    border: 1px solid rgb(117, 131, 151);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    margin: 2px 0 0 0;
    cursor: default;
}

.buttons_line0 {
    margin: 10px 40px 0px 40px;
    display: none;
}
.buttons_line1 {
    margin: 0px 40px 10px 40px;
    display: none;
}
.feedback {
    margin: 0px 40px 10px 40px;
	display: none;
	max-width: 100%;
}

.check_button {
    width: 280px;
    margin: 3px 3px 3px 0px;
	border: 8px #D0D0D0 solid;
	height: 50px;
	background: #7389B4 linear-gradient(#4F6B76, #7389B4, #4f6b76);
}
.solution_button {
    float: right;
    width: 250px;
    margin: 5px 0px 5px 5px;
    background: #738994 linear-gradient(#4F6B76, #738994, #4f6b76);
}
.next_button {
    width: 260px;
    margin: 5px 5px 5px 0px;
    background: #738994 linear-gradient(#4F6B76, #738994, #4f6b76);
}
.log_button {
    float: right;
    width: 250px;
    margin: 0px 0px 5px 0px;
    background: #738994 linear-gradient(#4F6B76, #738994, #4f6b76);
}
.feedback_button {
    float: right;
    width: 250px;
    margin: 0px 0px 5px 0px;
    background: #738994 linear-gradient(#4F6B76, #738994, #4f6b76);
}
.feedback_send {
    background: #73C994 linear-gradient(#4F6B76, #73C994, #4f6b76);
}
.feedback_cancel {
    background: #e38994 linear-gradient(#4F6B76, #e38994, #4f6b76);
}

.button {
    color: #f2f5f6;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    font-family: Verdana;
    cursor: pointer;
}
.button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #f2f5f6;
    background: #2b574d linear-gradient(#2b574d, rgba(163, 214, 202, 0.53), #2b574d);
}
.button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

.bottom-cup {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #bbc2cc;
}

.bottom-msg {
    margin: 0;
    padding: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: Verdana;
    text-align: left;
}

.tooltip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.window-blocker{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 50, 53, 0.62);
}

.tooltip-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #dae4e9;
    border: 4px solid rgb(117, 131, 151);
    border-radius: 10px;
}

.formules-list {
    list-style: none;
    padding: 10px 30px;
}

.formules-list > li > img {
    margin: 10px 0px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  border: 6px solid rgb(117, 131, 151);
  border-radius: 10px;
  z-index: 12;
}

/* Add styles to the form container */
.form-container {
  max-width: 600px;
  padding: 10px;
  background-color: #dae4e9;
}

/* Full-width textarea */
.form-container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}